body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    background-color: #1F2937;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.header-links {
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}